@import '/src/styles/part1.css';
@import '/src/styles/part2.css';
@font-face {
	font-family: 'Graphik';
	src: url(/assets/fonts/Graphik-Regular.ttf);
}

:root {
    --black-gradient: #0E0E0E;
    --dark-grey: #181818;
    --light-grey: #343434;
    --white: #FFFFFF;
    --blue: #4452FE;
    --fluo: #02E4C0;

	--horiz-padding: 12%;
	--vert-padding: 4rem;

	font-size: 19px;
	color: var(--white);
}


*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	font-family: 'Graphik';
}

a {
	/* display: inline-flex; */
	width: max-content;
	height: max-content;
	text-decoration: none;
	color: inherit;
}

html,
body {
	font-family: 'Graphik';
	position: relative;
	width: 100%;
	height: 100vh;
	/* line-height: 1.5rem; */
    background-color: var(--dark-grey);
}

body > *{
    width: 100%;
}

button:hover,
a:hover {
	cursor: pointer;
}


h1 {
	font-size: 3.8rem;
}

h2 {
	font-size: 3.4rem;
}

h3 {
	font-size: 2.6rem;
}

h4 {
	font-size: 1.8rem;
}

h5 {
	font-size: 1.4rem;
}

h6 {
	font-size: 1.25rem;
}

button.primary{
    letter-spacing: 0.0125rem;
    padding: .8rem 1.8rem;

    color: var(--white);
    border: 1px solid var(--blue);
    background-color: var(--blue);

    box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
}

button.primary span{
    padding: 0 .4rem;
}

button.secondary{
    letter-spacing: 0.0125rem;
    padding: .8rem 1.8rem;

    color: var(--white);
    border: 1px solid var(--white);
    background-color: transparent;

    box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
}

button.secondary span{
    padding: 0 .4rem;
}

@media only screen and (max-width: 1600px) {
	:root {
		--horiz-padding: 9.5%;
		--vert-padding: 3.5rem;
		font-size: 16px;
	}
}

@media only screen and (max-width: 1500px) {
	:root {
		font-size: 14px;
	}
}

@media only screen and (max-width: 1200px) {
	:root {
		font-size: 12px;
		--horiz-padding: 8%;
		--vert-padding: 4rem;
	}
}

@media only screen and (max-width: 992px) {
	:root {
		--horiz-padding: 4%;
		--vert-padding: 4rem;
		font-size: 12px;
	}
}

@media only screen and (max-width: 680px) {
	:root {
		--vert-padding: 4rem;
		--horiz-padding: 30px;
	}
}

@media only screen and (max-width: 450px) {
	:root {
		--horiz-padding: 20px;
	}

}