@import '/src/styles/part1.css';
@import '/src/styles/part2.css';

@font-face {
	font-family: 'Graphik';
	src: url(/assets/fonts/Graphik-Regular.ttf);
}

:root {
	--black-shadow: #1818180c;
	--black-gradient: #0E0E0E;
	--dark-grey: #181818;
	--light-grey: #343434;
	--grey: #5c5c5c;
	--white: #FFFFFF;
	--black: #000;
	--blue: #4452FE;
	--fluo: #02E4C0;

	--horiz-padding: 12%;
	--vert-padding: 3.4rem;

	font-size: 18px;
	color: var(--white);
}

:root.light {
	--black-shadow: #1818180c;
	--black-gradient: #ffffff;
	--dark-grey: #fafafa;
	--light-grey: #343434;
	--grey: #cacaca;
	--white: #131313;
	--black: #ffffff;
	--blue: #4452FE;
	--fluo: #02E4C0;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	font-family: 'Graphik';
}

::-webkit-scrollbar {
	display: none;
}

a {
	/* display: inline-flex; */
	width: max-content;
	height: max-content;
	text-decoration: none;
	color: inherit;
}

html,
body {
	scroll-behavior: smooth;
	font-family: 'Graphik';
	position: relative;
	width: 100%;
	height: 100vh;
	overflow-x: hidden;
	/* line-height: 1.5rem; */
	background-color: var(--dark-grey);
}

body {
	display: flex;
	flex-direction: column;
	gap: 6rem;
	position: relative;
	overflow-y: hidden;

	scroll-behavior: smooth;
}

body.loaded {
	overflow-y: auto;
}

body>* {
	width: 100%;
}

#main {
	position: relative;
	z-index: 10;
}

#loader {
	z-index: 11;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--dark-grey);
}

#loader .logo {
	height: 4rem;
	width: auto;
	transition: opacity .25s ease-in-out;
	animation: beating 1.2s ease-in-out 0s infinite forwards;
	-webkit-animation: beating 1.2s ease-in-out 0s infinite forwards;
	-webkit-transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-ms-transition: opacity .25s ease-in-out;
	-o-transition: opacity .25s ease-in-out;
}

.loaded #loader .logo {
	opacity: 0;
	animation: none;
	-webkit-animation: none;
}

.loaded #loader {
	animation: zoom 1s cubic-bezier(0.26, 0, 0.99, 0.44) .4s 1 forwards;
	-webkit-animation: zoom 1s cubic-bezier(0.26, 0, 0.99, 0.44) .4s 1 forwards;
}

html.light #loader .dark,
html:not(.light) #loader .light {
	display: none;
}

html.light #loader .light,
html:not(.light) #loader .dark {
	display: flex;
}

button:hover,
a:hover {
	cursor: pointer;
}


h1 {
	font-size: 3.4rem;
}

h2 {
	font-size: 2.8rem;
}

h3 {
	font-size: 2.4rem;
}

h4 {
	font-size: 1.8rem;
}

h5 {
	font-size: 1.4rem;
}

h6 {
	font-size: 1.25rem;
}

button.primary {
	letter-spacing: 0.0125rem;
	padding: 1rem 2.5rem;
	text-align: center;
	font-size: 1.08rem;

	text-align: center;
	text-wrap: nowrap;

	color: white;
	border: 1px solid var(--blue);
	background-color: var(--blue);

	box-shadow: 0px 4px 25px 0px var(--black-shadow);
}

button.primary span {
	padding: 0 .4rem;
}

button.secondary.large {
	padding: 1rem 2.5rem;
	font-size: 1.08rem;
}

button.secondary {
	letter-spacing: 0.0125rem;
	padding: .8rem 1.8rem;

	text-align: center;
	text-wrap: nowrap;

	color: var(--white);
	border: 1px solid var(--white);
	background-color: var(--dark-grey);

	box-shadow: 0px 4px 25px 0px var(--black-shadow);
}

button.secondary span {
	padding: 0 .4rem;
}

@media only screen and (max-width: 1600px) {
	:root {
		--horiz-padding: 9.5%;
		--vert-padding: 3rem;
		font-size: 18px;
	}
}

@media only screen and (max-width: 1500px) {
	:root {
		font-size: 14px;
	}
}

@media only screen and (max-width: 1200px) {
	:root {
		font-size: 14px;
		--horiz-padding: 8%;
		--vert-padding: 3.4rem;
	}
}

@media only screen and (max-width: 992px) {
	:root {
		--horiz-padding: 4%;
		--vert-padding: 4rem;
		font-size: 14px;
	}
}

@media only screen and (max-width: 680px) {
	:root {
		--vert-padding: 4rem;
		--horiz-padding: 50px;
	}
}

@media only screen and (max-width: 450px) {
	:root {
		--horiz-padding: 40px;
	}

}

@keyframes beating {
	0% {
		transform: scale(1);
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
	}

	30% {
		transform: scale(0.8);
		-webkit-transform: scale(0.8);
		-moz-transform: scale(0.8);
		-ms-transform: scale(0.8);
		-o-transform: scale(0.8);
	}

	70% {
		transform: scale(1.2);
		-webkit-transform: scale(1.2);
		-moz-transform: scale(1.2);
		-ms-transform: scale(1.2);
		-o-transform: scale(1.2);
	}

	80% {
		transform: scale(1);
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
	}

	90% {
		transform: scale(1.2);
		-webkit-transform: scale(1.2);
		-moz-transform: scale(1.2);
		-ms-transform: scale(1.2);
		-o-transform: scale(1.2);
	}

	100% {
		transform: scale(1);
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
	}
}

@keyframes zoom {
	0% {
		background: var(--dark-grey);
		clip-path: polygon(0% 0%,
				100% 0%,
				100% 100%,
				0% 100%);
		left: 0;
	}

	20% {
		background: linear-gradient(to right, #e737b7, #bf40e0);
		clip-path: polygon(38% 48%,
				62% 48%,
				62% 52%,
				38% 52%);
		left: 0;
	}

	90% {
		background: linear-gradient(to right, #e737b7, #bf40e0);
		clip-path: polygon(38% 48%,
				62% 48%,
				62% 52%,
				38% 52%);
		left: 0%;
	}
	98% {
		background: linear-gradient(to right, #e737b7, #bf40e0);
		clip-path: polygon(38% 48%,
				62% 48%,
				62% 52%,
				38% 52%);
		left: 100%;
	}

	100% {
		background: linear-gradient(to right, #e737b7, #bf40e0);
		clip-path: polygon(38% 48%,
				62% 48%,
				62% 52%,
				38% 52%);
		left: 100%;
		display: none;
	}
}