header {
    display: flex;
    padding: 0.8rem 0;
    align-items: center;
}

#menu {
    height: 20px;
    width: 30px;
    display: none;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
}

#menu .long {
    width: 100%;
    height: 20%;
    background-color: white;
}

#menu .middle {
    width: 70%;
    height: 20%;
    background-color: white;
}

#menu .short {
    width: 40%;
    height: 20%;
    background-color: white;
}

#nav-toggler {
    display: none;
}

header nav {
    display: flex;
    gap: 2.8rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1.8rem var(--horiz-padding);
}

header nav #logo {
    display: flex;
    flex: 1;
    height: 100%;
    align-items: center;
    /* justify-content: center; */
    height: 2rem;
    width: 2rem;
}

#logo img {
    height: 50px;
}

header nav #center {
    display: flex;
    align-items: center;
    gap: 2.8rem;
    height: 100%;
    width: 100%;
    justify-content: center;
    flex: 1;
}

#login {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.links{
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    gap: 40px;
    margin-inline: auto;
}

.links a {
    padding: 0.5rem 0;
    position: relative;
    transition: transform 0.2s ease-in-out;
}

.links a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: 0.2rem solid #fff;
    transition: width 0.2s ease-in-out;
}

.links a.active::after{
    width: 100%;
}

.links a:hover{

}



#work .button-container {
    display: flex;
    gap: 2rem;
    margin-top: var(--vert-padding);
}

#work .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#work .image-container img {
    width: 100%;
}

@media only screen and (max-width: 1600px) {
	:root {
		--horiz-padding: 9.5%;
		--vert-padding: 3.5rem;
		font-size: 16px;
	}
}

@media only screen and (max-width: 1500px) {
	:root {
		font-size: 14px;
	}


}

@media only screen and (max-width: 1200px) {
	:root {
		font-size: 12px;
		--horiz-padding: 8%;
		--vert-padding: 4rem;
	}
}

@media only screen and (max-width: 992px) {
	:root {
		--horiz-padding: 4%;
		--vert-padding: 4rem;
		font-size: 12px;
	}

    #menu {
        display: flex;
    }

    #center {
        position: static;
        visibility: visible;
        opacity: 1;
        display: flex;
    }

    .links{
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 40%;
        right: 0;
        gap: 20px;
        top: 7rem;
        flex-grow: 1;
        background-color: var(--blue); 
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.3s ease-out;

    }

    .active{
        /* z-index: 1;
        align-items: center;
        top: 6.3rem; */
        max-height: 200px;
    }

    


}

@media only screen and (max-width: 680px) {
	:root {
		--vert-padding: 4rem;
		--horiz-padding: 30px;
	}
}

@media only screen and (max-width: 450px) {
	:root {
		--horiz-padding: 20px;
	}

    .button-container {
        flex-direction: column;
    }

}