.mini-header,
.content {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.content {
    padding: var(--vert-padding) var(--horiz-padding);
    gap: 2.75rem;
}

.mini-header {
    gap: 1.2rem;
    text-align: center;
}

.mini-header h2 {
    font-weight: 200;
}

.mini-header p {
    line-height: 1.85rem;
    letter-spacing: .02rem;
    max-width: 540px;
}

#img-grid {
    display: flex;
    justify-content: center;

    max-width: 1360px;

    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 2.5rem;
}

#img-grid .grid-item {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 11.6rem;
    height: 14.5rem;

    overflow: hidden;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

#img-grid .grid-item.left,
#img-grid .grid-item.right {
    width: 21.4rem;
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .25s ease;
    -webkit-transition: transform .25s ease;
    -moz-transition: transform .25s ease;
    -ms-transition: transform .25s ease;
    -o-transition: transform .25s ease;
}

.grid-item:hover img {
    transform: scale(1.18);
    -webkit-transform: scale(1.18);
    -moz-transform: scale(1.18);
    -ms-transform: scale(1.18);
    -o-transform: scale(1.18);
}

#img-grid .grid-item.mobil-only {
    display: none;
}

#partner {
    gap: 3rem;
}

#partner #brands {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    gap: 4.5rem;
}

#partner #brands img {
    height: 3.2rem;
    width: auto;
}

#testimonial-cards {
    display: flex;
    justify-content: center;

    width: 100%;
    gap: 1.4rem
}

#testimonial-cards .cards-col {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 48%;
    max-width: 440px;
}

.testimonial-card {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;

    padding: 2.2rem;
    border: 1px solid var(--white);
    border-radius: .6rem;
    -webkit-border-radius: .6rem;
    -moz-border-radius: .6rem;
    -ms-border-radius: .6rem;
    -o-border-radius: .6rem;
}

.testimonial-card.mobil-only {
    display: none;
}

#testimonial-cards .card-header {
    display: flex;
    align-items: center;
    gap: 1.4rem;
}

#testimonial-cards .card-header img {
    width: 3rem;
    height: 3rem;
}

#testimonial-cards .card-header p {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    line-height: 1.5rem;
}

#testimonial-cards .card-content {
    font-weight: 400;
    max-width: 360px;
    line-height: 1.5rem;
    letter-spacing: 0.0125rem;
}

#cta .container {
    width: 100%;
    max-width: 1510px;
    display: flex;
    gap: 5.3rem;

    color: #fafafa;
    background-color: var(--light-grey);
    
    border-radius: 1.6rem;
    -webkit-border-radius: 1.6rem;
    -moz-border-radius: 1.6rem;
    -ms-border-radius: 1.6rem;
    -o-border-radius: 1.6rem;
    overflow: hidden;
}

#cta-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.2rem;

    margin: 4.6rem 0rem 4.6rem 5.6rem;
}

#cta-content h2 {
    font-weight: 200;
    line-height: 3.9rem;
}

#cta-content .primary {
    width: max-content;
    padding: 1rem 3.1rem;
}

#cta-img {
    width: 80%;
    aspect-ratio: 1 / 0.6;
    display: flex;

    margin-top: 2.6rem;
}

#cta-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: 0 0;
}

footer{
    display: flex;
    justify-content: center;
    gap: 12.2rem;

    padding: var(--vert-padding) var(--horiz-padding);
}

footer .left-footer{
    display: flex;
    gap: 5.6rem;
}

footer .footer-content, footer .footer-links, footer .right-footer{
    display: flex;
    flex-direction: column;
}

footer .footer-content{
    gap: 2.5rem;
}

footer .footer-links{
    gap: 1rem;
}

footer .right-footer{
    gap: .62rem;
}

footer #infos{
    display: flex;
    flex-direction: column;
    gap: .62rem;
}

footer .info{
    display: flex;
    align-items: center;
    gap: .6rem;
}

footer .info.location svg{
    width: 2.8rem;
    height: 2.8rem;
}

footer svg path{
    fill: var(--white);
}

footer .info.location svg #interior{
    fill: var(--black);
}

footer .info.phone svg{
    width: 2.18rem;
    min-width: 2.18rem;
    height: 2.18rem;
}

#footer-socials{
    padding: 1.2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;

}

#footer-socials img{
    width: 2.5rem;
    height: 2.5rem;
}

#theme-toggler{
    display: flex;
    align-items: center;

    color: var(--black);
    background-color: var(--fluo);

    background: linear-gradient(to right, #e737b7, #bf40e0);
    gap: 1rem;
    padding: .6rem .6rem;
    width: max-content;
    position: fixed;
    bottom: 10rem;
    right: -6.4rem;
    transition: right .25s ease-in-out;
    -webkit-transition: right .25s ease-in-out;
    -moz-transition: right .25s ease-in-out;
    -ms-transition: right .25s ease-in-out;
    -o-transition: right .25s ease-in-out;
}

#theme-toggler:hover{
    right: 0; 
}

#theme-toggler p{
    writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

#theme-toggler #theme-btns{
    display: flex;
    align-items: center;
    gap: .4rem;
}

#theme-btns button{
    width: 2.6rem;
    height: 2.6rem;
    padding: .4rem;
    border: 1px solid var(--light-grey);
    border-radius: .4rem;
    background-color: transparent;
    -webkit-border-radius: .4rem;
    -moz-border-radius: .4rem;
    -ms-border-radius: .4rem;
    -o-border-radius: .4rem;
    transition: border .25s ease, background-color .25s ease;
    -webkit-transition: border .25s ease, background-color .25s ease;
    -moz-transition: border .25s ease, background-color .25s ease;
    -ms-transition: border .25s ease, background-color .25s ease;
    -o-transition: border .25s ease, background-color .25s ease;
}

#theme-btns button svg{
    width: 100%;
    height: auto;
    fill: var(--light-grey);
    transition: fill .25s ease;
    -webkit-transition: fill .25s ease;
    -moz-transition: fill .25s ease;
    -ms-transition: fill .25s ease;
    -o-transition: fill .25s ease;
}

html.light #theme-btns button#light, html:not(.light) #theme-btns button#dark{
    background-color: var(--light-grey);
    border: 1px solid var(--light-grey);
}

html.light #theme-btns button#light svg, html:not(.light) #theme-btns button#dark svg{
    fill: white;
}

@media only screen and (max-width: 1500px) {
    #img-grid {
        max-width: 1000px;
    }

    #img-grid .grid-item {
        width: 11rem;
    }

    #img-grid .grid-item.left,
    #img-grid .grid-item.right {
        width: 20.2rem;
        max-width: 320px;
    }

    #testimonial-cards .cards-col {
        max-width: 356px;
    }
}

@media only screen and (max-width: 992px) {
    #img-grid {
        column-gap: 1.6rem;
        row-gap: 2rem;
    }

    #img-grid .grid-item {
        width: 19%;
    }

    #img-grid .grid-item.left,
    #img-grid .grid-item.right {
        width: calc(40% - 4rem);
    }

    #partner #brands {
        max-width: 335px;
        justify-content: space-evenly;
        gap: 3.12rem;
    }

    #partner #brands img {
        height: 3.7rem;
        width: auto;
    }

    #partner #brands #ibm {
        height: 2.1rem;
    }

    #cta .container {
        gap: 2rem;
    }

    footer{
        justify-content: space-between;
    }
    
    footer .left-footer, footer{
        gap: 5rem;
    }

    footer .info.location svg #interior{
        fill: var(--white);
    }
}

@media only screen and (max-width: 680px) {
    #img-grid {
        column-gap: 2rem;
        row-gap: 2.5rem;
    }

    #img-grid .grid-item {
        width: 88%;
        max-width: 200px;

        height: auto;
        aspect-ratio: 1/.85;
    }

    #img-grid .grid-item.mobil-only {
        display: flex;
    }

    #img-grid .grid-item.desk-only {
        display: none;
    }

    #testimonial-cards {
        flex-direction: column;
    }

    #testimonial-cards .cards-col {
        width: 100%;
        max-width: unset;
    }

    #testimonial-cards .desk-only {
        display: none;
    }

    #testimonial-cards .mobil-only {
        display: flex;
    }

    #testimonial-cards .card-content {
        max-width: unset;
    }

    
    #cta .container {
        flex-direction: column;
        align-items: center;
        gap: 0.4rem;
    }

    #cta #cta-content {
        margin: 4.6rem 5.6rem 4.6rem 5.6rem;
        text-align: center;
        align-items: center;
        max-width: 700px;
    }

    #cta-img {
        margin: 0;
        max-width: 460px;
        aspect-ratio: 1;
    }

    #cta.content {
        padding: var(--vert-padding) 0 0 0;
    }
    
    #cta .container{
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }

    footer{
        flex-direction: column;
    }

    footer .left-footer{
        justify-content: center;
    }

    footer .right-footer{
        align-items: center;
    }

    /* footer .right-footer > *{
        width: max-content;
    } */
}

@media only screen and (max-width: 560px) {
    #img-grid .grid-item {
        max-width: 350px;
    }

    footer .left-footer{
        flex-direction: column;
    }

    footer, footer .left-footer {
        gap: 4.5rem;
    }

    footer .right-footer{
        align-items: flex-start;
    }
}