.mini-header, .content{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.content{
    padding: var(--vert-padding) var(--horiz-padding);
    gap: 2.5rem;
}

.mini-header{
    gap: 1.2rem;
    text-align: center;
}

.mini-header p{
    /* width: 70%; */
}