header {
    display: flex;
    position: sticky;
    position: -webkit-sticky;
    top: 0;

    z-index: 10;
}

header,
nav {
    background-color: var(--dark-grey);
}

#menu {
    height: 20px;
    width: 30px;
    display: none;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;

    border: none;
    background-color: transparent;
}

#menu .long {
    width: 100%;
    height: 20%;
    background-color: var(--white);
}

#menu .middle {
    width: 70%;
    height: 20%;
    background-color: var(--white);
}

#menu .short {
    width: 40%;
    height: 20%;
    background-color: var(--white);
}

#nav-toggler {
    display: none;
}

header nav {
    display: flex;
    gap: 2.8rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1.6rem var(--horiz-padding);

    position: relative;
}

header nav #logo,
header nav #login {
    flex: 1;
}

header nav #login {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
}

header nav #logo {
    display: flex;
    height: 100%;
    align-items: center;
    /* justify-content: center; */
    height: 2rem;
    width: max-content;
}

html.light #logo .dark, html:not(.light) #logo .light{
    display: none;
}
html.light #logo .light, html:not(.light) #logo .dark{
    display: flex;
}

#logo img {
    height: 50px;
}

header nav #center {
    display: flex;
    align-items: center;
    gap: 2.8rem;
    height: 100%;
    width: 100%;
    justify-content: center;
    flex: 1;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    gap: 40px;
    margin-inline: auto;
}

.links a {
    padding: 0.5rem 0;
    position: relative;
    transition: transform 0.2s ease-in-out;
}

.links a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: var(--white);
    transition: width 0.2s ease-in-out;
}

.links a:hover::before, .links a.active::before {
    width: 100%;
}

.links a.active::before{
    background-color: #e737b7;
}

#work{
    padding-top:  calc(var(--horiz-padding) / 2);
}

#work h1{
    font-size: 4rem;
    max-width: 500px;
}

#work .button-container {
    display: flex;
    gap: 2rem;
    margin-top: 2.8rem;
}

#work .image-container {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

#work .image-container img {
    width: 100%;
    max-width: 1830px;
}

#work .image-container::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient( transparent, var(--black-gradient));
}

#features-content {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#left-features {
    display: flex;
    position: relative;
    height: 100%;
}

#chatbot {
    position: relative;
    width: 100%;
    height: auto;
    max-height: calc(100% + 2rem);
    object-fit: cover;
}

#linechart {
    position: absolute;
    right: -1rem;
    bottom: -2.5rem;
    height: 250px;
    width: 400px;
}

#right-features {
    padding: 0 0 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
}

#right-features .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .8rem;
}

#right-features .card .card-title {
    display: flex;
    align-items: center;
}

#right-features h6{
    line-height: 1.8rem;
}

#right-features .card .card-title .card-logo img {
    width: 1.8rem;
    height: auto;
}

#right-features .card .card-title .card-text {
    margin: 0 0 0 .8rem;
}

#right-features .card p {
    line-height: 1.5rem;
}

#contents-content {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#contents-content .content-card {
    display: flex;
    flex-direction: column;

    text-align: center;
    width: 50%;
    max-width: 490px;

    margin: 1rem;
    background-color: var(--white);
    border-radius: 10px;
    padding: 3rem 1.5rem 2.8rem 1.5rem;
}

#contents-content .content-card h5 {
    color: var(--black);
    margin: 0 0 3rem 0;
}

#contents-content .content-card p {
    color: var(--grey);
    margin: 0 0 3.3rem 0;
    line-height: 1.5rem;
}

#contents-content .content-card button {
    margin: 0 0 3.3rem 0;
}

#contents-content .content-card .card-img {
    /* height: 200px; */
    display: flex;
    width: 95%;
    margin: auto auto 0 auto;
}

#contents-content .content-card .card-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: auto;
}


/* #contents-content .content-card .chat-b {
    height: 40%;
    width: 85%;
} */

@media only screen and (max-width: 1200px) {
    #features-content {
        flex-direction: column;
    }

    #right-features {
        flex-direction: row;
        width: 100%;
        margin: 2.6rem auto;
        padding: 0;
    }

    #right-features .card{
        width: max-content;
        position: relative;
    }

    #linechart {
        bottom: 0;
        right: 3rem;
    }
}

@media only screen and (max-width: 992px) {
    #menu {
        display: flex;
    }

    header nav {
        gap: unset;
        padding: 1.4rem var(--horiz-padding);
    }

    header nav #login,
    header nav #logo {
        flex: unset;
    }

    header nav #center {
        display: flex;
        flex: unset;
        width: 0px;
        height: 0px;
        z-index: -1;
    }

    .links {
        padding: 2rem 1rem;
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
        right: 0;
        gap: 20px;
        top: 100%;
        flex-grow: 1;
        background-color: var(--dark-grey);
        overflow: hidden;
        height: auto;
        transition: transform 0.3s ease-out;
        -webkit-transition: transform 0.3s ease-out;
        -moz-transition: transform 0.3s ease-out;
        -ms-transition: transform 0.3s ease-out;
        -o-transition: transform 0.3s ease-out;
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
    }

    #center.active .links {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        box-shadow: 0px 4px 31px 0px var(--var(--dark-grey)-shadow);
    }

    #center::before{
        content: "";
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--var(--dark-grey)-shadow);
    }

    #center.active::before {
        width: 100%;
        height: 100vh;
        backdrop-filter: blur(2px);
    }

    #features-content {
        flex-direction: column;
    }

    #linechart {
        bottom: -4rem;
        left: 50%;
        width: 50%;
        height: auto;
        transform: translate(-50%);
        -webkit-transform: translate(-50%);
        -moz-transform: translate(-50%);
        -ms-transform: translate(-50%);
        -o-transform: translate(-50%);
}

    #right-features {
        margin-top: 15%;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #contents-content {
        flex-direction: column;
        align-items: center;
    }


    #contents-content .content-card {
        text-align: center;
        width: 100%;
        max-width: 350px;
        margin: 1rem;
        background-color: var(--white);
        border-radius: 10px;
    }
}

@media only screen and (max-width: 680px) {
    .button-container {
        flex-direction: column;
    }

    #chatbot {
        width: 100%;
        height: 80%;
    }

    #linechart {
        width: 60%;
        height: 40%;
        bottom: 2rem;
    }

    #right-features{
        flex-direction: column;
    }
}

@media only screen and (max-width: 450px) {
    .button-container {
        flex-direction: column;
    }

}